@use '../abstracts';


html {
  box-sizing: border-box;
}

:root {
  /* Paleta Claro */
  --bg-color: #ffffff;
  --sidebar-bg: #f8f9fa;
  --text-color: #333333;
  --border-color: #dddddd;
  --card-shadow: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] {
  /* Paleta Oscuro */
  --bg-color: #121212;
  --sidebar-bg: #1e1e1e;
  --text-color: #f5f5f5;
  --border-color: #333333;
  --card-shadow: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: all 0.3s ease; /* Suaviza el cambio de tema */
}
