@charset "UTF-8";

// 1. Vendors
@use 'vendors/normalize';

// 2. Base stuff
@use 'base/base';
@use 'base/fonts';
@use 'base/helpers';
@use 'base/typography';

// 3. Layout-related sections
@use 'layout/main';

// 4. Components
@use 'components/button';
@use 'components/sidebar';
@use 'components/containerFav';
@use 'components/spiner';
@use 'components/form';

// 5. Pages
@use 'pages/home';

// 6. Themes
@use 'themes/default';
