// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.form__button{
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    padding: 10px 35px;
    font-size: 20px;
    background-color:rgb(225, 121, 30);
    color: white;
    border-radius: 20px;
    border: none;
    &:hover {
        filter: brightness(0.85);
        scale: 1.04;
        transition: 0.3s;
    }
}

.btn-ver-mas{
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(225, 121, 30);
    color: white;
    width: 40%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    &:hover {
        filter: brightness(0.85);
        scale: 1.04;
        transition: 0.3s;
    }
    @media (min-width: 1024px) {
        padding: 10px 20px;
        font-size: 15px;
        width: 12%;
    }
}