.favoritos-overlay {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    transform: translateY(-20px);
  }
  

.favoritos-overlay-open{
  display: flex; 
  flex-direction: column; 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw ;
    height: 80vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    margin: 5vh 5vw;
    border-radius: 10px;
    padding: 20px; 
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
  }


    &__container-closed{
      display: flex;
      justify-content: end;
      flex-shrink: 0;
      
      button{
        background: none;
        border: none;
        width: 60px;
        &:hover {
          transform: scale(1.25);
        }
      }
    
    }

    &__favBoxes{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      width: 95%;
      margin-bottom: 25px;
      overflow-y: auto; 
      padding-right: 10px;
  }
  }

  .title-fav{
    display: flex;
    justify-content: center;
    align-items: center border;
  }
  

  
  
  