.form {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    padding: 20px;
    align-items: center;

    &__options {
        font-family: "Nunito", sans-serif;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 20px;
        width: 100%; 
    }

    @media (min-width: 1024px) {
        flex-direction: row; 
        justify-content: space-around;

        &__options {
            width: 40%;
        }
    }
}