// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.nav-btn {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px; 

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px rgba(151, 206, 76, 0.8)); 
    animation: levitate 2s ease-in-out infinite; 
  }
}