.main {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &__title01{
        margin-top: 0;
        text-align: center;
        font-size: 45px;
        font-family: "Pacifico", cursive;
        font-weight: bolder;
        margin-bottom: 0;
        color: rgb(225, 121, 30);
    }
    &__title{
        margin-top: 0;
        color: #5FB05F;
        text-align: center;
        font-size: 45px;
        font-family: "Pacifico", cursive;
        font-weight: bolder;
        margin-bottom: 0;
    }
}

.app-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 99%;
    margin-bottom: 25px;

    
}

.cat-card{
    position: relative;
    border-radius: 12px;

    &__img{
        width: 100%;
        height: 250px;
        object-fit: cover; 
        display: block;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05); 
        }
    }
}

.card-overlay {
    position: absolute;
    bottom: 10px;    
    right: 10px;     
    display: flex;
    gap: 8px;        
    pointer-events: none;
    
    &__tooltip-wrapper {
        position: relative;
        display: inline-block;
        pointer-events: auto;
        
        &:hover::after {
            content: attr(data-tooltip);
            position: absolute;
            bottom: 125%;
            left: 20%;
            transform: translateX(-65%);
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 5px 10px;
            border-radius: 6px;
            font-size: 13px;
            white-space: nowrap;
            z-index: 10;
            white-space: pre-wrap; 
            width: 200px;     
            padding: 10px;
        }
    
    }

    img {
        pointer-events: auto; 
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.7); 
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s, background 0.2s;

        &:hover {
            transform: scale(1.2);
            background: rgba(255, 255, 255, 1);
        }
    }

    &__icon-fav {
        background-color: rgba(255, 255, 255, 0.7); 
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.2);
            background: rgba(255, 255, 255, 1);
        }

        
    }
    &__icon-fav.active {
        background-color: #9e0f0f !important;
        transform: scale(1.2);
    }
}








